<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="krylixza_github" value="https://nuget.pkg.github.com/krylixza/index.json"  />
    </packageSources>

    <packageSourceCredentials>
        <krylixza_github>
            <add key="Username" value="%FEED_USER%" />
            <add key="ClearTextPassword" value="%FEED_ACCESSTOKEN%" />
        </krylixza_github>
    </packageSourceCredentials>
</configuration>