<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github_krylixza" value="https://nuget.pkg.github.com/krylixza/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github__krylixza>
            <add key="Username" value="KrylixZA" />
            <add key="ClearTextPassword" value="%REGISTRY_TOKEN%" />
        </github__krylixza>
    </packageSourceCredentials>
</configuration>